ion-content {
    --padding-start: 2rem;
    --padding-end: 2rem;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 3rem;

        h1 {
            font-size: 3rem;
            font-weight: 600;
            color: #515151;
            margin: 0;
        }

        .avatar {
            width: 40px;
            height: 40px;
            background-color: #69275e;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            overflow: hidden;


            ion-tab-button{
                width: 40px;
                height: 40px;
                background-color: #69275e;
            }

            ion-img {
                width: 150%;
                height: 150%;
            }

            ion-label{
                display: block;
            }
        }
    }


    .categories {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 1rem;
    }

    .list-header {
        font-weight: 700;
        color: #515151;
        font-size: 1.8rem;
        margin-bottom: 2.5rem;
        margin-right: 2.5rem;

    }

    .food-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}