<ion-content>
    <div (ngSubmit)="login()" [formGroup]="credentials" class="login-section ion-padding">
        <div class="heading ion-padding">
            <h1>Pitchi'ye hoş geldiniz!</h1>
            <p>Devam edebilmek için lütfen giriş yapınız.</p>
        </div>
        <div class="login-form ion-padding">
            <div class="form-input">
                <ion-icon name="mail-outline"></ion-icon>
                <ion-item>
                    <ion-label position="floating">EMAIL</ion-label>
                    <ion-input formControlName="email" type="email"></ion-input>
                </ion-item>
            </div>
            <div class="form-input">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <ion-item>
                    <ion-label position="floating">ŞİFRE</ion-label>
                    <ion-input formControlName="password" type="password"></ion-input>
                </ion-item>
            </div>
        </div>
        <div class="action-buttons ion-padding">
            <ion-button [disabled]="!credentials.valid" size="large" class="login-button" >Giriş Yap</ion-button>
            <p>Şifremi unuttum ?</p>
            <ion-button  class="signup-button" size="large" fill="outline" routerLink="/signup" >Üye Ol</ion-button>
        </div>
    </div>

</ion-content>
